
        /*----css comment---*/
        /* style content does not provide any data to the user*/
        /*p{
            width: 50%;
            margin-left: 25%;
            color:orchid;
            font-size: 20px;
            font-style: italic;
            background-color:;
        }*/
    body {
        background-image:  url('../images/img1.jpg') ;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Source Sans Pro', sans-serif;
        
        }   
        section{
            background-color:white;
            width: 25%;
            margin-left: 35%;
            margin-top: 10%;
            padding: auto;
            border-radius: 10px;
            text-align: center;
            padding-bottom: 20px;
        
       
            
        }
       
        
        }
        img {
            border-radius: 100px 100px;
            margin-top: 40px;
        }
        h1{
            columns: #313fa3;;
    
            font-size: 27px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform:capitalize;
            font: weight 100;
            letter-spacing: 4px;
            /*text-decoration: underline;
            text-decoration: line-through;
            text-shadow: 10px,10px;
            text-shadow: 2px 2px 3px;
            
            font-style: italic;
            color:skyblue;
          
            text-overflow: ellipsis;
            white-space: nowrap;*/
           
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        p{
            font-style: italic;
            color: blue;
        }
    